.row.wrapper.border-bottom.white-bg.page-heading
  .col-md-9
    %h2 Dashboard

.wrapper.wrapper-content.animated.fadeInDown{ 'ng-show' => 'projects.length > 0' }
  .row.projects-list
    .col-md-6{ 'ng-repeat' => "project in projects | orderBy:projectOrderBy:true" }
      .contact-box
        %a{ 'ng-href' => '{{ projectGotoUrl(project) }}' }
          .col-lg-12.project

            %h3
              {{ project.name }}

            .hr-line-dashed

            %p
              %small {{ projectEventName(project) }}
            %p
              %small.text-muted
                %i.fa.fa-clock-o
                {{ projectLastActionAt(project) | fromNow }}

            .app-last-builds-chart.project-chart{ project: "project" }

          .clearfix
