.projects

  %a.pull-right{ class: "btn btn-small", 'ng-href' => "/github_repos" }
    Add new Project

  %ul{ 'ng-repeat' => "project in projects" }

    %li
      %a{ 'href' => "{{project.url}}" }
        {{project.name}}
