.projects
  .row

    .col-8

      .ajax-loader{ 'ng-hide' => 'projects.length != undefined' }

      %ul.projects-list.list-group

        %li.project.list-group-item{ 'ng-repeat' => "project in projects | orderBy:'last_build_created_at':true" }
          .pull-right.app-task-status{ 'task' => 'project'}

          %a.medium-text{ 'ng-href' => "/projects/{{project.id}}/builds" }
            {{project.name}}

          %br
          %small {{ project.last_build_created_at | fromNow }}

    .col-4
      .projects-add-new.pull-right
        %a{ class: "btn btn-small btn-primary", 'ng-href' => "/github_repos" }
          Add new Project



