.projects

  .projects-add-new.pull-right
    %a{ class: "btn btn-small btn-primary", 'ng-href' => "/github_repos" }
      Add new Project

  %ul.projects-list.list-group

    %li.project.list-group-item{ 'ng-repeat' => "project in projects" }
      .pull-right{ 'class' => "task-status-{{project.last_build_status}}" }
        %i.icon-circle

      %a{ 'ng-href' => "/projects/{{project.id}}/builds" }
        {{project.name}}

      %br
      %small {{project.description || "[no description available]"}}

