.row.wrapper.border-bottom.white-bg.page-heading
  .col-md-9
    %h2 Dashboard

.wrapper.wrapper-content.animated.fadeInDown{ 'ng-show' => 'builds && builds.length === 0 && projects && projects.length > 0' }
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 No pending jobs - Please get your hands dirty

.wrapper.wrapper-content.animated.fadeInRight{ 'ng-show' => "builds.length > 0" }
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Recent project activity

          .ibox-tools

        .ibox-content

          .chat-activity-list{'ng-show' => false}

            .chat-element{'ng-repeat' => "build in builds | orderBy:'updated_at':true", 'ng-click' => "goBuild(build)", style: "cursor: pointer" }
              .pull-left
                %img.img-circle{ 'ng-src' => "{{ build.author_avatar }}" }

              .media-body
                .pull-right
                  %span.pull-right.app-task-status{ 'task' => 'build' }

                %strong
                  {{ build.author }}

                commited
                %a{ href: "{{ build.http_url }}" }
                  %i.fa.fa-external-link
                  {{ build.sha | truncate:6:"" }}
                to branch
                {{ build.branch }}
                on {{ build.project_name }}

                %p.m-b.m-t-xs.task-message {{ build.short_message }}

                %small.text-muted
                  %i.fa.fa-clock-o
                  %span {{ build.created_at | fromNow }},
                  duration
                  %span.app-task-duration{ task: "build" }


.wrapper.wrapper-content.animated.fadeInDown{ 'ng-show' => 'projects.length > 0' }
  .row.projects-list
    .col-md-6{ 'ng-repeat' => "project in projects | orderBy:projectOrderBy:true" }
      .contact-box
        %a{ 'ng-href' => '/ui/projects/{{ project.id }}/builds' }
          .col-lg-12.project

            %h3
              {{ project.name }}

            .hr-line-dashed

            %p
              %small {{ projectEventName(project) }}
            %p
              %small.text-muted
                %i.fa.fa-clock-o
                {{ projectLastActionAt(project) | fromNow }}

            .app-last-builds-chart.project-chart{ project: "project" }

          .clearfix
