.row.wrapper.border-bottom.white-bg.page-heading
  .col-md-9
    %h2 Dashboard

.wrapper.wrapper-content.animated.fadeIn{ 'ng-show' => 'builds && builds.length === 0 && projects && projects.length > 0' }
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 No pending jobs - Please get your hands dirty


.wrapper.wrapper-content.animated.fadeIn{ 'ng-show' => "builds.length > 0" }
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Projects queued activity

        .ibox-content
          %div

            .feed-activity-list

              .feed-element{'ng-repeat' => "build in builds | orderBy:'updated_at':true | limitTo:30", 'ng-click' => "goBuild(build)", style: "cursor: pointer;"}
                %a.pull-left
                  %img.img-circle{ 'ng-src' => "{{ build.author_avatar }}" }

                .media-body
                  %span.pull-right.app-task-status{ 'task' => 'build', 'ng-show' => "build" }

                  %strong {{ build.author }}
                  commited to
                  %a{ href: "/ui/projects/{{ project.id }}/builds" }
                    {{ build.project_name }}
                  %br
                  %small.text-muted
                    %i.fa.fa-clock-o
                    {{ build.updated_at | fromNow }}


.wrapper.wrapper-content.animated.fadeIn{ 'ng-show' => "projects.length > 0" }
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Projects activity

        .ibox-content
          %div

            .feed-activity-list

              .feed-element{'ng-repeat' => "project in projects | orderBy:projectOrderBy:true", 'ng-click' => "go(project)", style: "cursor: pointer;"}
                %a.pull-left
                  %img.img-circle{ 'ng-src' => "{{ projectAvatar(project) }}" }

                .media-body
                  %span.pull-right.app-task-status{ 'task' => 'project.last_build', 'ng-show' => "project.last_build" }

                  %strong {{ projectAuthor(project) }}
                  {{ projectLastAction(project) }}
                  %a{ href: "/ui/projects/{{ project.id }}/builds" }
                    {{ project.name }}
                  %br
                  %small.text-muted
                    %i.fa.fa-clock-o
                    {{ projectLastActionAt(project) | fromNow }}
