.projects

  .pull-right
    %a{ class: "btn btn-success", 'ng-href' => "/projects/new" }
      Add new Project

  %ul{ 'ng-repeat' => "project in projects" }

    %li
      %a{ 'href' => "{{project.url}}" }
        {{project.name}}
