.row.wrapper.border-bottom.white-bg.page-heading
  .col-md-9
    %h2 Dashboard

.projects
  .row

    .col-xs-8
      %table.tasks-table.table{ 'ng-show' => 'builds.length > 0' }
        %thead
          %th No.
          %th Project
          %th Branch
          %th Commit
          %th Committer
          %th Duration

        %tr.tasks-table-item.app-task-status-class{ 'ng-repeat' => "build in builds | orderBy:'updated_at':true | limitTo:20", 'status' => "build.status" }
          %td
            %a{ 'ng-href' => "/ui/builds/{{build.id}}" }
              %i.fa.fa-circle
              %span {{ build.number }}
          %td
            %a{ 'ng-href' => "/ui/projects/{{ build.project_id }}/builds" }
              %span {{ build.project_name }}
          %td {{ build.branch }}
          %td.app-build-http-url{ build: 'build' }
          %td {{ build.author }}
          %td.app-task-duration{ task: 'build' }

      %div{ 'ng-show' => 'builds.length === 0 && projects.length > 0' }
        No pending jobs - Please get your hands dirty

      .ajax-loader{ 'ng-hide' => 'builds.length != undefined' }


.wrapper.wrapper-content.animated.fadeIn{ 'ng-show' => "projects.length > 0" }
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Projects activity

        .ibox-content
          %div

            .feed-activity-list

              .feed-element{'ng-repeat' => "project in projects | orderBy:projectOrderBy:true", 'ng-click' => "go(project)", style: "cursor: pointer;"}
                %a.pull-left
                  %img.img-circle{ 'ng-src' => "{{ projectAvatar(project) }}" }

                .media-body
                  %span.pull-right.app-task-status{ 'task' => 'project.last_build', 'ng-show' => "project.last_build" }

                  %strong {{ projectAuthor(project) }}
                  {{ projectLastAction(project) }}
                  %a{ href: "/ui/projects/{{ project.id }}/builds" }
                    {{ project.name }}
                  %br
                  %small.text-muted
                    %i.fa.fa-clock-o
                    {{ projectLastActionAt(project) | fromNow }}
