%a.github-repos-sync.pull-right{ class: "btn" }
  Sync Now

%ul.github-repos

  %li.github-repo{ 'ng-repeat' => "repo in repos" }

    %label
      %input{ type: 'checkbox', 'ng-model' => 'repo.subscribed', 'ng-change' => "changeSubscription(repo)"}
      %span {{repo.full_name}}

      %a.octocat{ href: '{{repo.html_url}}', title: "View on Github" }
        %i.icon-github-sign


