.site-head

  .site-title
    %span CI

  .navigation

    %ul.nav.nav-tabs.medium-text{ 'ng-controller' => 'NavCtrl' }

      %li{ 'ng-repeat' => "item in items", 'ng-class' => '{active: item.active}' }
        %a{ 'href' => "{{ item.path }}" }
          {{ item.title }}
