.navigation
  %ul.nav.nav-tabs{ 'ng-controller' => 'NavCtrl' }
    %li{ 'ng-repeat' => "item in navigation.list()", 'ng-class' => '{active: isActive(item)}' }
      %a{ 'href' => "{{item.path}}" }
        {{ item.title }}
