.site-head

  .site-title
    %span CI

  .navigation


    %ul.nav.nav-tabs{ 'ng-controller' => 'NavCtrl' }

      %li{ 'ng-repeat' => "item in items", 'ng-class' => '{active: isActive(item)}' }
        %a{ 'href' => "{{item.path}}" }
          {{ item.title }}
