.cached_files

  .ajax-loader{ 'ng-show' => 'wait'}

  %p{ 'ng-show' => 'files.length == 0' }
    No files found.

  %div{ 'ng-show' => 'files.length > 0' }


    %a.btn.btn-sm.btn-default{ 'ng-disabled' => '!anyFileSelected()', 'ng-click' => 'destroy()' }
      Remove selected

    %table.table.tasks-table.table-striped
      %thead
        %tr
          %th
            %input{ type: "checkbox", 'ng-click' => 'toggleAllFiles()' }
          %th
            Name
          %th
            Size
          %th
            Uploaded At

      %tbody
        %tr{ 'ng-repeat' => "file in files | orderBy:'created_at':true" }
          %td
            %input{ type: "checkbox", "ng-model" => 'file.destroy'}
          %td {{ file.name }}
          %td {{ file.size }}
          %td {{ file.updated_at | fromNow }}

