.cached_files

  .ajax-loader{ 'ng-hide' => 'files.length != undefined' }

  %div{ 'ng-show' => 'files.length == 0' }
    No files found.

  %div{ 'ng-show' => 'files.length > 0' }
    %table.table.tasks-table.table-striped
      %thead
        %tr
          %th
          %th
            Name
          %th
            Size
          %th
            Uploaded At

      %tbody
        %tr{ 'ng-repeat' => "file in files | orderBy:'created_at':true", 'ng-class' => "cached_file_{{file.id}}" }
          %td
            %input{ type: "checkbox", checked: "true", value: "1", "ng-click" => 'destroy(file)' }
          %td {{ file.name }}
          %td {{ file.size }}
          %td {{ file.updated_at | fromNow }}

