.row.wrapper.border-bottom.white-bg.page-heading
  .col-md-6
    %h2 Billing

.row
  .col-lg-12
    .wrapper.wrapper-content.animated.fadeInDown
      .ibox-title
        %h5 CreditCard
      .ibox-content.p-xl

        .credit-card-wait{ 'ng-show' => 'creditCard.wait' }
          %p Please wait...

        .credit-card-preview{ 'ng-show' => '!creditCard.edit && !creditCard.wait' }
          .credit-card-new{ 'ng-hide' => "creditCard.token" }
            %a.btn.btn-primary{ 'ng-click' => 'editCreditCard()' }
              %i.fa.fa-plus
              Add a new card

          .credit-card-exists{ 'ng-show' => "creditCard.token" }
            %p.vertical-align
              %span{ style: "padding-right: 2em" }
                %img{ 'ng-src' => "{{ creditCard.image_url }}", 'title' => '{{ creditCard.type }}' }
              %span{ style: "padding-right: 2em" } {{ creditCard.number }}
              %a.btn.btn-primary{ 'ng-click' => "editCreditCard()" }
                Edit

        .credit-card-edit{ 'ng-show' => 'creditCard.edit' }
          %form{ novalidate: true, name: "form", role: 'form', style: 'max-width: 60%' }
            .alert.alert-danger{ 'ng-show' => 'newCreditCard.errors' }
              %p
                %strong Error
              %p{ 'ng-repeat' => "err in newCreditCard.errors" }
                {{ err }}
            .form-group
              %label.control-label Name on card
              %input.form-control{ 'ng-model' => "newCreditCard.name", required: true, placeholder: "Cardholder Name" }

            .form-group
              %label.control-label Credit card number
              %input.form-control{ 'ng-model' => "newCreditCard.card", required: true, placeholder: "0000 0000 0000 0000" }

            .form-group
              %label.control-label CVV
              %input.form-control{ 'ng-model' => "newCreditCard.cvv", style: "width: 4em", required: true, placeholder: "000" }

            .form-group
              %label.control-label Expiration Date
              .input-group
                %input.form-control{ 'ng-model' => "newCreditCard.month", style: "width: 4em; margin-right: 1em", required: true, placeholder: "MM" }
                %input.form-control{ 'ng-model' => "newCreditCard.year", style: "width: 4em", required: true, placeholder: "YY" }
            %p
              %button.btn.btn-primary{ type: "submit", 'ng-click' => 'createCreditCard()', 'ng-disabled' => 'form.$invalid || newCreditCard.wait' }
                %span{ 'ng-hide' => 'newCreditCard.wait' }
                  %i.fa.fa-plus
                  Add a new card
                %span{ 'ng-show' => 'newCreditCard.wait' }
                  Please wait...
              %span{ 'ng-hide' => 'newCreditCard.wait' }
                or
                %a{ href: "javascript://", 'ng-click' => "cancelEditCreditCard()" } Cancel

.row
  .col-lg-12
    .wrapper.wrapper-content.animated.fadeInDown
      .ibox-title
        %h5 Usage Statistics
      .ibox-content.p-xl
        .table-responsive.m-t
          %table.table.invoice-table
            %thead
              %tr
                %th Period
                %th Job Count
                %th Minutes
                %th Amount
            %tbody
              %tr
                %td Today
                %td {{ companyUsage.today.job_count | number }}
                %td {{ companyUsage.today.minutes | number }}
                %td {{ companyUsage.today.amount | currency }}
              %tr
                %td Yesterday
                %td {{ companyUsage.yesterday.job_count | number }}
                %td {{ companyUsage.yesterday.minutes | number }}
                %td {{ companyUsage.yesterday.amount | currency }}
              %tr
                %td This week
                %td {{ companyUsage.this_week.job_count | number }}
                %td {{ companyUsage.this_week.minutes | number }}
                %td {{ companyUsage.this_week.amount | currency }}
              %tr
                %td This month
                %td {{ companyUsage.this_month.job_count | number }}
                %td {{ companyUsage.this_month.minutes | number }}
                %td {{ companyUsage.this_month.amount | currency }}
              %tr
                %td Last month
                %td {{ companyUsage.last_month.job_count | number }}
                %td {{ companyUsage.last_month.minutes | number }}
                %td {{ companyUsage.last_month.amount | currency }}
