.row.wrapper.border-bottom.white-bg.page-heading
  .col-md-6
    %h2 Billing

.row
  .col-lg-12
    .wrapper.wrapper-content.animated.fadeInDown
      .ibox-content.p-xl
        %h3 Usage Statistics
        .table-responsive.m-t
          %table.table.invoice-table
            %thead
              %tr
                %th Period
                %th Job Count
                %th Minutes
                %th Amount
            %tbody
              %tr
                %td Today
                %td {{ companyUsage.today.job_count | number }}
                %td {{ companyUsage.today.minutes | number }}
                %td {{ companyUsage.today.amount | currency }}
              %tr
                %td Yesterday
                %td {{ companyUsage.yesterday.job_count | number }}
                %td {{ companyUsage.yesterday.minutes | number }}
                %td {{ companyUsage.yesterday.amount | currency }}
              %tr
                %td This week
                %td {{ companyUsage.this_week.job_count | number }}
                %td {{ companyUsage.this_week.minutes | number }}
                %td {{ companyUsage.this_week.amount | currency }}
              %tr
                %td This month
                %td {{ companyUsage.this_month.job_count | number }}
                %td {{ companyUsage.this_month.minutes | number }}
                %td {{ companyUsage.this_month.amount | currency }}
              %tr
                %td Last month
                %td {{ companyUsage.last_month.job_count | number }}
                %td {{ companyUsage.last_month.minutes | number }}
                %td {{ companyUsage.last_month.amount | currency }}

.row{ 'ng-show' => "payment != null" }
  .col-lg-12
    .wrapper.wrapper-content.animated.fadeInDown
      .ibox
        .ibox-content
          .row
            .col-md-6

              .alert.alert-success{ 'ng-show' => 'payment.success' }
                %p
                  %strong Your Payment was successful

                %p
                  Thank you for your payment. Your transaction has been
                  completed, and a receipt for your purchase has been emailed
                  to you.

                %p
                  %a.btn.btn-primary{ 'ng-click' => 'cancelPayment()' }
                    Done

              %form{ novalidate: true, name: "form", role: 'form', 'ng-hide' => 'payment.success' }
                .alert.alert-danger{ 'ng-show' => 'payment.errors' }
                  %p
                    %strong Error
                  %p{ 'ng-repeat' => "err in payment.errors" }
                    {{ err }}
                .form-group
                  %label.control-label Name on card
                  %input.form-control{ 'ng-model' => "payment.name", required: true, placeholder: "Cardholder Name" }

                .form-group
                  %label.control-label Credit card number
                  %input.form-control{ 'ng-model' => "payment.card", required: true, placeholder: "0000 0000 0000 0000" }

                .form-group
                  %label.control-label CVV
                  %input.form-control{ 'ng-model' => "payment.cvv", style: "width: 4em", required: true, placeholder: "000" }

                .form-group
                  %label.control-label Expiration Date
                  .input-group
                    %input.form-control{ 'ng-model' => "payment.month", style: "width: 4em; margin-right: 1em", required: true, placeholder: "MM" }
                    %input.form-control{ 'ng-model' => "payment.year", style: "width: 4em", required: true, placeholder: "YY" }


                %p
                  %button.btn.btn-primary{ type: "submit", 'ng-click' => 'makePayment()', 'ng-disabled' => 'form.$invalid || payment.wait' }
                    %span{ 'ng-hide' => 'payment.wait' }
                      Pay {{ payment.amount / 100.0 | currency }}
                    %span{ 'ng-show' => 'payment.wait' }
                      Please wait...
                  %span{ 'ng-hide' => 'payment.wait' }
                    or
                    %a{ href: "javascript://", 'ng-click' => "cancelPayment()" } Cancel

.row{ 'ng-show' => "invoices.length > 0 && payment == null" }
  .col-lg-12
    .wrapper.wrapper-content.animated.fadeInDown
      .ibox-content.p-xl
        %h3 Invoices
        .table-responsive.m-t
          %table.table.invoice-table
            %thead
              %th Date
              %th Amount
              %th Status
              %th

            %tbody
              %tr{ 'ng-repeat' => "invoice in invoices | orderBy:'created_at':true" }
                %td {{ invoice.created_at | date: "MMMM yyyy" }}
                %td {{ invoice.amount / 100.0 | currency  }}
                %td {{ invoice.status_name }}
                %td
                  %a.btn.btn-xs.btn-primary{ href: "javascript://", 'ng-click' => "payInvoice(invoice)", 'ng-show' => "invoice.status_name == 'pending'" }
                    Pay
