.builds

  .row{ 'ng-show' => 'project' }

    .col-xs-6
      .build-info
        {{ project.description || "[no description available]" }}

    .col-xs-6
      .pull-right

        %a.project-cached-files{ "ng-href" => "/projects/{{project.id}}/cached_files" }
          Cached Files

        %a.project-url{ "ng-href" => "{{ project.http_url}}", "target" => "_blank" }
          On {{ project.provider_title }}

        .project-subscribe.app-project-subscribe{ project: "project", title: "Watch Project" }


  %table.tasks-table.table{ 'ng-show' => 'builds.length > 0' }
    %thead
      %th No.
      %th Commit
      %th Committer
      %th PR
      %th Branch
      %th Duration
      %th Finished At

    %tr.tasks-table-item.app-task-status-class{ 'ng-repeat' => "build in builds | orderBy:'number':true | limitTo:20", 'status' => "build.status" }
      %td
        %a{ 'ng-href' => "/builds/{{build.id}}" }
          %i.fa.fa-circle
          %span {{ build.number }}
      %td.app-build-http-url{ build: 'build' }
      %td {{ build.author }}
      %td
        %a{ 'ng-href' => "{{ project.http_url}}/pull/{{build.pull_request_id}}", "target" => "_blank" }
          %span {{ build.pull_request_id }}
      %td {{ build.branch }}
      %td.app-task-duration{ task: 'build' }
      %td.app-task-finished{ task: 'build' }

  .ajax-loader{ 'ng-hide' => 'builds.length != undefined' }
