.users

  %p.create-invites{ 'ng-hide' => "showInvitesForm" }
    %a.btn.btn-sm.btn-default{ 'href' => "javascript://", 'ng-click' => "toggleInvitesForm()" } Create Invites

  .well{ 'ng-show' => "showInvitesForm" }
    %form{ role: "form", 'ng-submit' => "createInvites()", name: "form", novalidate: true }
      .form-group
        %span.help-block
          Invite email addresses separated by space
        %textarea.form-control{ name: "emails", 'ng-model' => "invite.emails", 'required' => true, placeholder: "user1@example.com user2@example.com user3@example.com", 'autofocus' => true }
      %p{ 'ng-hide' => "invite.wait" }
        %input.btn.btn-sm.btn-success{ type: "submit", value: "Create Invites", 'ng-disabled' => "form.$invalid" }
        or
        %a{ href: "javascript://", 'ng-click' => "toggleInvitesForm()" } Cancel
      %p{ 'ng-show' => 'invite.wait' }
        %span.ajax-loader-inline

  .ajax-loader{ 'ng-show' => "wait" }

  %table.table.table-hover{ 'ng-show' => "users.length > 0" }
    %thead
      %tr
        %th
        %th
          Name
        %th Email
        %th Projects
        %th Role
    %tbody
      %tr{ 'ng-repeat' => "user in users | orderBy:'active_projects':true" }
        %td
          %i.fa.fa-gear{ 'ng-show' => 'disableEdit(user)' }

          .dropdown{ 'ng-hide' => 'disableEdit(user)' }
            %i.fa.fa-gear.dropdown-toggle
            %ul.dropdown-menu
              %li
                %a{ 'ng-click' => 'destroy(user)', href: "javascript://" } Remove

        %td
          %img{ 'ng-src' => "{{ user.avatar_url }}" }
          {{ user.name }}
        %td {{ user.email }}
        %td {{ user.active_projects }}
        %td
          .btn-group
            %button.btn.btn-sm{ type: "button", 'ng-repeat' => "role in user.available_roles", 'ng-class' => "classForRole(user, role)", 'ng-disabled' => "disableEditRole(user, role)", 'ng-click' => "updateRole(user, role)" }
              {{ role }}
