.row.wrapper.white-bg.page-heading
  .col-md-6
    %h2 Users

  .col-md-6
    .title-action{ style: "padding-top: 22px" }
      %a.btn.btn-primary{ 'ng-hide' => "showInvitesForm", 'ng-click' => 'toggleInvitesForm()' }
        %i.fa.fa-plus
        Create invites

.wrapper.wrapper-content.animated.fadeInDown{ 'ng-show' => "showInvitesForm" }
  .row
    .col-lg-12
      .ibox
        .ibox-content
          %h3.m-b-lg
            Email addresses
            %small separated by space
          %form{ role: "form", 'ng-submit' => "createInvites()", name: "form", novalidate: true }
            .form-group.m-b-lg
              %textarea.form-control{ name: "emails", 'ng-model' => "invite.emails", 'required' => true, 'autofocus' => true }
            %p
              %button.btn.btn-primary{ type: "submit", 'ng-disabled' => "form.$invalid || invite.wait" }
                %i.fa.fa-plus
                Create Invites
              or
              %a{ href: "javascript://", 'ng-click' => "toggleInvitesForm()" } Cancel

.row.animated.fadeInDown.white-bg{ 'ng-show' => 'users.length > 0' }
  .col-lg-12.users-list
    %table.table
      %thead
        %tr
          %th
          %th Name
          %th Email
          %th Added projects
          %th Role
          %th
      %tr{ 'ng-repeat' => "user in users | orderBy:'projects_count':true" }
        %td
          %img.img-circle.m-t-xs.img-responsive{ 'ng-src' => "{{ user.avatar }}" }
        %td {{ user.name }}
        %td {{ user.email }}
        %td {{ user.projects_count }}
        %td
          .dropdown
            %button.btn.btn-sm.btn-white.dropdown-toggle{ 'ng-disabled' => 'cannotEdit(user)' }
              {{ user.role }}
              %span.caret
            %ul.dropdown-menu
              %li{ 'ng-repeat' => 'role in user.roles' }
                %a{ href: "javascript://", 'ng-click' => "updateRole(user, role)" } {{ role }}
        %td.text-right
          %a.btn.btn-sm.btn-white.user-destroy{href: "javascript://", 'ng-click' => 'destroy(user)', 'ng-if' => '!cannotEdit(user)' }
            %i.fa.fa-trash-o
            Remove
