.builds

  .bs-callout.bs-callout-notice
    .pull-right{ 'ng-show' => "project" }

      %a.project-url{ "ng-href" => "{{ project.http_url}}", "target" => "_blank" }
        On {{ project.provider_title }}

      %a.project-cached-files{ "ng-href" => "/ui/projects/{{project.id}}/cached_files" }
        Cached Files

      .project-subscribe.app-project-subscribe{ project: "project", title: "Watch Project" }
    %p
      {{ project.description || "[no description available]" }}

  %table.tasks-table.table{ 'ng-show' => 'builds.length > 0' }
    %thead
      %th No.
      %th Commit
      %th.visible-md.visible-lg
      %th Branch
      %th Duration
      %th Finished At

    %tr.tasks-table-item.app-task-status-class{ 'ng-repeat' => "build in builds | orderBy:'number':true | limitTo:20", 'status' => "build.status" }
      %td
        %a{ 'ng-href' => "/ui/builds/{{build.id}}" }
          %i.fa.fa-circle
          %span {{ build.number }}
      %td.app-build-http-url{ build: 'build' }
      %td.visible-md.visible-lg{ title: "{{ build.message }}" }
        %img{ 'ng-src' => "{{ build.author_avatar }}" }
        {{ build.message | truncate: 30 }}
      %td {{ build.branch | truncate: 30 }}
      %td.app-task-duration{ task: 'build' }
      %td.app-task-finished{ task: 'build' }

  .ajax-loader{ 'ng-show' => 'waitBuilds' }
