.builds

  .row{ 'ng-show' => 'project' }

    .col-8
      .build-info
        %p.small-text
          %span {{ project.description || "no description available" }}
          %a{ href: '{{project.http_url}}', target: "_blank" }
            <nobr>view on github</nobr>

    .col-4
      .pull-right
        .project-subscribe.app-project-subscribe{ 'project' => "project" }

  %table.tasks-table.table.small-text

    %thead
      %th No.
      %th Commit
      %th Duration
      %th Finished At

    %tr.tasks-table-item.app-task-status-class{ 'ng-repeat' => "build in builds | orderBy:'number':true | limitTo:20", 'status' => "build.status" }
      %td
        %a{ 'ng-href' => "/builds/{{build.id}}" }
          %i.fa.fa-circle
          %span {{ build.number }}
      %td.app-build-http-url{ build: 'build' }
      %td {{ build.branch }}
      %td.app-task-duration{ task: 'build' }
      %td.app-task-finished{ task: 'build' }

  .ajax-loader{ 'ng-hide' => 'builds.length != undefined' }
