.builds

  %a.builds-add.pull-right{ class: "btn btn-small btn-primary", 'ng-show' => "project", "ng-click" => "createBuild()" }
    Create Build

  %p
    %a.octokat{ href: "{{project.http_url}}", target: "_blank", title: "View on Github" }
      View on github.com

  %p
    %small {{ project.description || "no description available" }}

  .bs-callout.bs-callout-info{ 'ng-hide' => "builds.length" }
    No builds available

  %table.tasks-table.table.small-text{ 'ng-show' => 'builds.length' }

    %thead
      %th No.
      %th Commit
      %th Branch
      %th Duration
      %th Finished At

    %tr.tasks-table-item.app-task-status-class{ 'ng-repeat' => "build in builds | orderBy:'number':true", 'status' => "build.status" }
      %td
        %a{ 'ng-href' => "/builds/{{build.id}}" }
          %i.icon-circle
          %span {{ build.number }}
      %td.app-build-http-url{ build: 'build' }
      %td {{ build.branch }}
      %td.app-task-duration{ task: 'build' }
      %td.app-task-finished{ task: 'build' }
