.builds

  %a.builds-add.pull-right{ class: "btn btn-small btn-primary", 'ng-show' => "project", "ng-click" => "createBuild()" }
    Create Build

  %p
    %a.octokat{ href: "{{project.url}}", title: "View on Github" }
      %i.icon-github-sign
      View on Github

  %p
    %small {{ project.description || "no description available" }}

  %table.builds-list.table

    %thead
      %th No.
      %th Commit
      %th Branch
      %th Duration
      %th Fnished At

    %tr.build-item{ 'ng-repeat' => "build in builds | orderBy:'number':true", 'class' => "build-item-{{build.status}}" }
      %td
        %a{ 'ng-href' => "/builds/{{build.id}}" }
          %i.icon-circle
          %span {{ build.number }}
      %td {{ build.sha }}
      %td {{ build.branch }}
      %td {{ build.started_at  | timeDiff: build.finished_at }}
      %td {{ build.finished_at | fromNow }}
