.row.wrapper.border-bottom.white-bg.page-heading
  .col-md-6
    %h2 {{ project.name }}
    %ol.breadcrumb
      %li
        %a{ href: "/ui" } Projects

  .col-md-6
    .title-action
      %a.btn.btn-white{ 'ng-href' => "{{ project.http_url }}", target: "_blank" }
        %i.fa.fa-external-link
        On {{ project.source }}
      %a.btn.btn-white{ 'ng-href' => "/ui/projects/{{ project.id }}/pull_requests" }
        %i.fa.fa-rocket
        Pull Requests
      %a.btn.btn-white{ 'ng-href' => "/ui/projects/{{ project.id }}/branches" }
        %i.fa.fa-code-fork
        Branches
      %a.btn.btn-white{ 'ng-href' => "/ui/projects/{{ project.id }}/settings"}
        %i.fa.fa-gears
        Settings
      %a.app-project-subscribe{ project: "project", title: "Watch" }

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Recent project activity

          .pull-right
            .dropdown{ style: "display: inline-block" }
              .text-muted.btn.btn-xs.btn-white.dropdown-toggle
                %span.caret
                %span{ 'ng-show' => "selectedBranch" }
                  branch
                  {{ selectedBranch }}
                %span{ 'ng-hide' => "selectedBranch" }
                  all branches
              %ul.dropdown-menu{ style: "max-height: 30em; overflow-y: scroll" }
                %li
                  %a{ href: "javascript://", 'ng-click' => "selectBranch(null)" }
                    all branches
                %li{ 'ng-repeat' => "branch in branches" }
                  %a{ href: "javascript://", 'ng-click' => "selectBranch(branch)" }
                    {{ branch }}

            .text-muted.btn.btn-xs.btn-white{ 'ng-show' => 'displayAs == "feed"', 'ng-click' => 'setDisplayAs("table")', style: "width: 6em" }
              %i.fa.fa-navicon
              feed
            .text-muted.btn.btn-xs.btn-white{ 'ng-show' => "displayAs == 'table'", 'ng-click' => "setDisplayAs('feed')", style: "width: 6em" }
              %i.fa.fa-table
              table

        .ibox-content


          .ajax-loader{ 'ng-show' => 'wait' }

          .alert.alert-success{ 'ng-hide' => "builds.length > 0 || wait" }
            %p There are no commits here.

            %p Possible reasons:

            %ul
              %li
                There are no commits in repository. Push your commits to the repo and they will appear here
              %li
                There are some commits but CI config file is absent.
                Check out config
                %a{ href: "https://vexor.io/help", "target" => "_blank" } manual
              %li
                There are some commits but there weren't any callback.
                %a{ 'ng-click' => 'buildHeadCommit()', href: "javascript://", 'ng-hide' => 'buildHeadCommitWait' }
                  Create build
                %strong{ 'ng-show' => 'buildHeadCommitWait' }
                  Pelase wait...
                for the HEAD commit

          %div{ 'ng-show' => "builds.length > 0" }

            %table.table.table-hover.builds-list{'ng-show' => "displayAs == 'table'" }
              %thead
                %tr
                  %th No
                  %th
                  %th Branch
                  %th Author
                  %th Message
                  %th Created
              %tbody
                %tr.build{'ng-repeat' => "build in builds | orderBy:'number':true", 'ng-click' => "go(build)" }
                  %td
                    {{ build.number }}
                  %td
                    .app-task-status{ 'task' => 'build' }
                  %td.no-wrap
                    {{ build.branch }}
                  %td.no-wrap
                    {{ build.author }}
                  %td
                    {{ build.short_message }}
                  %td.no-wrap
                    %span.text-muted
                      {{ build.created_at | fromNow }}


            .chat-activity-list{'ng-show' => "displayAs == 'feed'"}

              .chat-element{'ng-repeat' => "build in builds | orderBy:'number':true", 'ng-click' => "go(build)", style: "cursor: pointer" }
                .pull-left
                  %img.img-circle{ 'ng-src' => "{{ build.author_avatar }}" }

                .media-body
                  .pull-right
                    %span.pull-right.app-task-status{ 'task' => 'build' }

                  %strong
                    {{ build.author }}

                  commited
                  %a{ href: "{{ build.http_url }}" }
                    %i.fa.fa-external-link
                    {{ build.sha | truncate:6:"" }}
                  to branch
                  {{ build.branch }}

                  %p.m-b.m-t-xs.task-message {{ build.message }}

                  %small.text-muted
                    %i.fa.fa-clock-o
                    %span {{ build.created_at | fromNow }},
                    duration
                    %span.app-task-duration{ task: "build" }

          %div{ 'ng-hide' => 'noMore || builds.length == 0' }
            %button.btn.btn-block.btn-outline.btn-primary{'ng-click' => 'loadMoreBuilds()', 'ng-disabled' => "wait" }
              Load more
