.row.wrapper.border-bottom.white-bg.page-heading
  .col-md-6
    %h2 {{ project.name }}
    %ol.breadcrumb
      %li
        %a{ href: "/ui" } Projects

  .col-md-6
    .title-action
      %a.btn.btn-white{ 'ng-href' => "{{ project.http_url }}", target: "_blank" }
        %i.fa.fa-external-link
        On {{ project.source }}
      %a.btn.btn-white{ 'ng-href' => "/ui/projects/{{ project.id }}/pull_requests"}
        %i.fa.fa-gears
        Pull Requests
      %a.btn.btn-white{ 'ng-href' => "/ui/projects/{{ project.id }}/branches"}
        %i.fa.fa-gears
        Branches
      %a.btn.btn-white{ 'ng-href' => "/ui/projects/{{ project.id }}/settings"}
        %i.fa.fa-gears
        Settings
      %a.app-project-subscribe{ project: "project", title: "Watch" }

.wrapper.wrapper-content.animated.fadeInRight{ 'ng-show' => "builds.length > 0" }
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Recent project activity

        .ibox-content
          %div

            .chat-activity-list

              .chat-element{'ng-repeat' => "build in builds | orderBy:'number':true | limitTo: 30", 'ng-click' => "go(build)", style: "cursor: pointer" }
                .pull-left
                  %img.img-circle{ 'ng-src' => "{{ build.author_avatar }}" }

                .media-body
                  .pull-right
                    %span.pull-right.app-task-status{ 'task' => 'build' }

                  %strong
                    {{ build.author }}

                  commited
                  %a{ href: "{{ build.http_url }}" }
                    %i.fa.fa-external-link
                    {{ build.sha | truncate:6:"" }}
                  to branch
                  {{ build.branch }}

                  %p.m-b.m-t-xs {{ build.short_message }}

                  %small.text-muted
                    %i.fa.fa-clock-o
                    %span {{ build.created_at | fromNow }}
