.row.wrapper.border-bottom.white-bg.page-heading
  .col-md-6
    %h2 {{ project.name }}
    %ol.breadcrumb
      %li
        %a{ href: "/ui" } Projects

  .col-md-6
    .title-action
      %a.btn.btn-white{ 'ng-href' => "{{ project.http_url }}", target: "_blank" }
        %i.fa.fa-external-link
        On {{ project.source }}
      %a.btn.btn-white{ 'ng-href' => "/ui/projects/{{ project.id }}/settings"}
        %i.fa.fa-gears
        Settings
      %a.app-project-subscribe{ project: "project", title: "Watch" }

.wrapper.wrapper-content.animated.fadeInRight{ 'ng-show' => "builds.length > 0" }
  .row
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Recent project activity

          .ibox-tools

            %label.label.pointer{ 'ng-show' => 'displayAs == "feed"', 'ng-click' => 'setDisplayAs("table")' }
              %i.fa.fa-navicon
              feed
            %label.label.pointer{ 'ng-show' => "displayAs == 'table'", 'ng-click' => "setDisplayAs('feed')" }
              %i.fa.fa-table
              table

        .ibox-content

          %table.table.table-hover.builds-list{'ng-show' => "displayAs == 'table'"}
            %thead
              %tr
                %th No
                %th
                %th Branch
                %th Author
                %th Message
                %th Created
            %tbody
              %tr.build{'ng-repeat' => "build in builds | orderBy:'number':true", 'ng-click' => "go(build)" }
                %td
                  {{ build.number }}
                %td
                  .app-task-status{ 'task' => 'build' }
                %td.no-wrap
                  {{ build.branch }}
                %td.no-wrap
                  {{ build.author }}
                %td
                  {{ build.short_message }}
                %td.no-wrap
                  %span.text-muted
                    {{ build.created_at | fromNow }}


            .chat-activity-list{'ng-show' => "displayAs == 'feed'"}

              .chat-element{'ng-repeat' => "build in builds | orderBy:'number':true", 'ng-click' => "go(build)", style: "cursor: pointer" }
                .pull-left
                  %img.img-circle{ 'ng-src' => "{{ build.author_avatar }}" }

                .media-body
                  .pull-right
                    %span.pull-right.app-task-status{ 'task' => 'build' }

                  %strong
                    {{ build.author }}

                  commited
                  %a{ href: "{{ build.http_url }}" }
                    %i.fa.fa-external-link
                    {{ build.sha | truncate:6:"" }}
                  to branch
                  {{ build.branch }}

                  %p.m-b.m-t-xs.task-message {{ build.message }}

                  %small.text-muted
                    %i.fa.fa-clock-o
                    %span {{ build.created_at | fromNow }},
                    duration
                    %span.app-task-duration{ task: "build" }

          %div
            %button.btn.btn-block.btn-outline.btn-primary{'ng-click' => 'loadMoreBuilds()', 'ng-disabled' => "wait" }
              Load more
