.row.wrapper.border-bottom.white-bg.page-heading
  .col-sm-8
    %h2 Build \#{{ build.number }}
    %ol.breadcrumb
      %li
        %a{ href: "/ui" } Projects
      %li
        %a{ href: "/ui/projects/{{ project.id }}/builds" } {{ project.name }}

  .col-sm-4
    .title-action
      %a.btn.btn-white{ 'ng-click' => "restart()", 'ng-show' => "build.finished" }
        %i.fa.fa-undo
        Restart

.row.wrapper.border-bottom.white-bg.animated.fadeInDown{ style: "background-color: #f3f6fb", 'ng-show' => "build" }
  .col-md-6.m-t-md
    .row.form-group
      %label.col-sm-3.control-label Status
      .col-sm-9
        %p.form-control-static.app-task-status{ task: "build" }
    .row.form-group
      %label.col-sm-3.control-label{ style: "white-space: nowrap;" } Finished At
      .col-sm-9
        %p.form-control-static.app-task-finished-at{ task: "build" }
    .row.form-group
      %label.col-sm-3.control-label Duration
      .col-sm-9
        %p.form-control-static.app-task-duration{ task: "build" }

  .col-md-6.m-t-md
    .row.form-group
      %label.col-sm-3.control-label Commit
      .col-sm-9
        %p.form-control-statis{ style: "white-space: nowrap;" }
          %a{ href: "{{ build.http_url }}" }
            %i.fa.fa-external-link
              {{ build.sha | truncate:8:'' }}
          to {{ build.branch }}

    .row.form-group
      %label.col-sm-3.control-label Author
      .col-sm-9
        %p.form-control-static
          %img.img-circle{ 'ng-src' => "{{ build.author_avatar }}", style: "width: 16px; height: 16px" }
          {{ build.author }}

    .row.form-group
      %label.col-sm-3.control-label Mesage
      .col-sm-9
        %p.form-control-static.task-message {{ build.message }}

.wrapper.wrapper-content
  .row.animated.fadeInRight{ 'ng-show' => "regularJobs.length > 0" }
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Build matrix

        .ibox-content
          .app-build-jobs{ jobs: 'regularJobs' }

  .row.animated.fadeInRight{ 'ng-show' => "deployJobs.length > 0" }
    .col-lg-12
      .ibox
        .ibox-title
          %h5 Deploy

        .ibox-content
          .app-build-jobs{ jobs: 'deployJobs' }
