.build
  .row
    .col-5.small-text

      .task-attribute
        %span  Build
        %span.app-task-status{ 'task' => "build" }
          {{ task.number }}

      .task-attribute
        %span Status
        %span
          {{ build.status }}

      .task-attribute
        %span Finished At
        %span {{ build.finished_at | fromNow }}

      .task-attribute
        %span Duration
        %span.app-task-duration{ task: "build" }

    .col-5.small-text

      .task-attribute
        %span Commit
        %span.app-build-http-url{ build: 'build', branch: 'true' }

      .task-attribute
        %span Author
        %span
          %a{'ng-href' => "mailto:{{ build.author_email }}"}
            {{ build.author }}

      .task-attribute
        %span Message
        %span {{ build.message }}

  .build-jobs{ 'ng-show' => "jobs.length > 0" }

    %pre.app-build-jobs.small-text{ jobs: 'jobs' }
