.build

  .row

    .col-5

      .build-info

        .build-info-line
          %span  Build
          %span {{ build.number }}

        .build-info-line
          %span Status
          %span {{ build.status }}

        .build-info-line
          %span Finished
          %span {{ build.finished_at | fromNow }}

        .build-info-line
          %span Duration
          %span.app-task-duration{ task: "build" }

    .col-5

      .build-info
        .build-info-line
          %span Commit
          %span.app-build-http-url{ build: 'build', branch: 'true' }

        .build-info-line
          %span Author
          %span
            %a{'ng-href' => "mailto:{{build.author_email}}"}
              {{ build.author }}

        .build-info-line
          %span Message
          %span {{ build.message }}


  .build-jobs{ 'ng-show' => "jobs.length > 0" }

    %h5 Jobs

    .app-build-jobs{ jobs: 'jobs' }
