.build
  .row.task-attributes{ 'ng-show' => "build" }
    .col-xs-5

      %dl.task-attribute.dl-horizontal
        %dt  Build
        %dd.app-task-status{ 'task' => "build" }
          {{ task.number }}

      %dl.task-attribute.dl-horizontal
        %dt Status
        %dd
          {{ build.status }}

      %dl.task-attribute.dl-horizontal
        %dt Finished At
        %dd.app-task-finished{ task: 'build' }

      %dl.task-attribute.dl-horizontal
        %dt Duration
        %dd.app-task-duration{ task: "build" }

    .col-xs-5

      %dl.task-attribute.dl-horizontal
        %dt Commit
        %dd.app-build-http-url{ build: 'build', branch: 'true' }

      %dl.task-attribute.dl-horizontal
        %dt Author
        %dd
          %img{ 'ng-src' => "{{ build.author_avatar }}" }
          %a{'ng-href' => "mailto:{{ build.author_email }}"}
            {{ build.author }}

      %dl.task-attribute.dl-horizontal
        %dt Message
        %dd.task-attribute-message {{ build.message }}

    .col-xs-2
      .pull-right
        %a{ href: 'javascript://', title: "Restart Build", 'ng-click' => 'restartBuild(build)', 'ng-show' => 'isFinished(build)' }
          %i.fa.fa-refresh.fa-2x

  %pre.app-build-jobs{ jobs: 'jobs' }

  .ajax-loader{ 'ng-show' => 'waitJobs' }
