.build

  .row

    .col-5

      .build-info

        .build-info-line
          %span  Build
          %span {{ build.number }}

        .build-info-line
          %span Status
          %span {{ build.status }}

        .build-info-line
          %span Finished
          %span {{ build.finished_at | fromNow }}

        .build-info-line
          %span Duration
          %span {{ build.started_at | timeDiff: build.finished_at }}

    .col-5

      .build-info
        .build-info-line
          %span Commit
          %span {{ build.sha }} ({{build.branch}})

        .build-info-line
          %span Author
          %span {{ build.author }}

        .build-info-line
          %span Message
          %span {{ build.message }}

  %h5 Jobs

  %table.builds-list.table

    %thead
      %th No.
      %th Duration
      %th Finished At
      %th{ 'ng-repeat' => "m in build.matrix" }
        {{m}}

    %tr.build-item{ 'ng-repeat' => "job in jobs | orderBy:'number'", 'class' => "build-item-{{job.status}}" }
      %td
        %a{ 'ng-href' => "/jobs/{{job.id}}" }
          %i.icon-circle
          %span {{build.number}}.{{ job.number }}
      %td {{ job.started_at  | timeDiff: job.finished_at }}
      %td {{ job.finished_at | fromNow }}
      %td{ 'ng-repeat' => "m in job.matrix" }
        {{ m }}
