.job
  .row.task-attributes{ 'ng-show' => 'job' }
    .col-5.small-text

      %dl.task-attribute.dl-horizontal
        %dt Job
        %dd.app-task-status{ task: "job" }
          {{ task.number }}

      %dl.task-attribute.dl-horizontal
        %dt Status
        %dd {{ job.status }}

      %dl.task-attribute.dl-horizontal
        %dt Finished At
        %dd.app-task-finished{ task: "job" }

      %dl.task-attribute.dl-horizontal
        %dt Duration
        %dd.app-task-duration{ task: 'job' }

      %dl.task-attribute.dl-horizontal
        %dt Config
        %dd{ 'ng-repeat' => "(key, value) in job.matrix" }
          {{ key }} {{ value }}

    .col-5.small-text

      %dl.task-attribute.dl-horizontal
        %dt Commit
        %dd.app-build-http-url{ build: 'build', branch: 'true' }

      %dl.task-attribute.dl-horizontal
        %dt Author
        %dd
          %a{'ng-href' => "mailto:{{build.author_email}}"}
            {{ build.author }}

      %dl.task-attribute.dl-horizontal
        %dt Message
        %dd {{ build.message }}

    .col-2
      .pull-right
        %a{'ng-href' => "{{job.text_logs_url}}", title: "view text logs", target: "_blank" }
          %i.fa.fa-bars.fa-2x

  .app-task-output{ collection: "logs" }

  .ajax-loader{ 'ng-hide' => 'logs.length != undefined' }

