.job

  .row

    .col-5

      .job-info

        .job-info-line
          %span Job
          %span {{ job.number }}

        .job-info-line
          %span Status
          %span {{ job.status }}

        .job-info-line
          %span Finished
          %span {{ job.finished_at | fromNow }}

        .job-info-line
          %span Duration
          %span.app-task-duration{ task: 'job' }

        .job-info-line
          %span Config
          %span{ 'ng-repeat' => "(key, value) in job.matrix" }
            {{ key }} {{ value }}

    .col-5

      .job-info
        .job-info-line
          %span Commit
          %span.app-build-http-url{ build: 'build', branch: 'true' }

        .job-info-line
          %span Author
          %span
            %a{'ng-href' => "mailto:{{build.author_email}}"}
              {{ build.author }}

        .job-info-line
          %span Message
          %span {{ build.message }}

  .app-task-output{ collection: "logs" }
