.job

  .row

    .col-5.small-text

      .task-attribute
        %span Job
        %span.app-task-status{ task: "job" }
          {{ task.number }}

      .task-attribute
        %span Status
        %span {{ job.status }}

      .task-attribute
        %span Finished At
        %span.app-task-finished{ task: "job" }

      .task-attribute
        %span Duration
        %span.app-task-duration{ task: 'job' }

      .task-attribute
        %span Config
        %span{ 'ng-repeat' => "(key, value) in job.matrix" }
          {{ key }} {{ value }}

    .col-5.small-text

      .task-attribute
        %span Commit
        %span.app-build-http-url{ build: 'build', branch: 'true' }

      .task-attribute
        %span Author
        %span
          %a{'ng-href' => "mailto:{{build.author_email}}"}
            {{ build.author }}

      .task-attribute
        %span Message
        %span {{ build.message }}

  .app-task-output{ collection: "logs" }

