.row.wrapper.border-bottom.white-bg.page-heading
  .col-md-6
    %h2 Job \#{{ job.number }}
    %ol.breadcrumb
      %li
        %a{ href: "/ui" } Projects
      %li
        %a{ href: "/ui/projects/{{ project.id }}/builds" } {{ project.name }}
      %li
        %a{ href: "/ui/builds/{{ build.id }}" } Build \#{{ build.number }}

.row.wrapper.border-bottom.white-bg{ style: "padding-top: 1em; padding-bottom: .5em; background-color: #f3f6fb" }
  .col-md-6
    %ul.list-inline{ style: "margin-left:-1.2em" }
      %li{ style: "padding-right: 1em" }
        %span.app-task-status{ task: "job" }
      %li{ style: "padding-right: 1em" }
        %small duration
        %small.app-task-duration{ task: "job" }
      %li{ style: "padding-right: 1em" }
        %i.fa.fa-clock-o
        %small {{ job.created_at | fromNow }}


.row
  .app-task-output{ collection: "logs" }
