.github-repos


  .github-repos-sync.pull-right
    %a{ class: "btn btn-small btn-primary", "ng-class" => "(inSync() ? 'disabled' : '')", "ng-click" => "syncGithubRepos()" }
      Sync Now

  .github-repos-search
    %input.form-control{ autofocus: true, type: :search, placeholder: "Type to search...", 'ng-model' => 'query' }

  .github-repos-list

    .gthub-repos-empty{ 'ng-hide' => 'repos.length' }
      No repositories loaded

    .github-repo{ 'ng-repeat' => "repo in repos | filter:query | limitTo: 30" }

      %a.octocat{ href: '{{repo.html_url}}', title: "View on Github" }
        %i.icon-github-sign

      %label
        %input{ type: 'checkbox', 'ng-model' => 'repo.subscribed', 'ng-change' => "changeSubscription(repo)"}
          %span {{repo.full_name}}
