.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-12
    %h2 Manage Subscriptions

.wrapper.wrapper-content.animated.fadeInRight{ 'ng-show' => "repos.length > 0" }
  .row
    .col-lg-12
      .ibox
        .ibox-content
          %small
            Show {{ [(repos|filter:query).length, 30] | min }} of {{ repos.length }} repositories

          %div.search-form
            .row
              .col-sm-8
                %input.form-control.input-lg{ autofocus: true, type: "search", placeholder: "Type to search project...", 'ng-model' => "query" }
              .col-sm-4
                .pull-right
                  %a.btn.btn-primary.btn-lg{ 'ng-disabled' => 'wait', 'ng-click' => 'sync()', style: "width: 7em" }
                    %span{'ng-show' => "wait"}
                      Wait...
                    %span{'ng-hide' => 'wait'}
                      Sync Now

          %div{ 'ng-repeat' => "repo in repos | filter:query | limitTo: 30" }
            .hr-line-dashed
            .search-result

              .pull-right
                %button.btn.btn-link{ href: "javascript://", 'ng-disabled' => 'repo.disabled || repo.wait || wait', 'ng-click' => 'changeSubscription(repo)', 'ng-show' => 'repo.subscribed' }
                  %i.fa.fa-star.fa-2x.text-warning

                %button.btn.btn-link{ href: "javascript://", 'ng-disabled' => 'repo.disabled || repo.wait || wait', 'ng-click' => 'changeSubscription(repo)', 'ng-hide' => 'repo.subscribed' }
                  %i.fa.fa-star-o.fa-2x.text-warning

              %h3
                %a{ href: "{{ repo.html_url }}"} {{ repo.full_name }}
              %a.search-link{ href: "{{ repo.html_url }}"} {{ repo.html_url }}
              %p {{ repo.description || "[no description available]" }}
