.user-repos

  .user-repos-sync.pull-right
    %a{ class: "btn btn-small btn-primary", "ng-class" => "(inSync() ? 'disabled' : '')", "ng-click" => "syncUserRepos()" }
      Sync Now

  .user-repos-search
    %input.form-control{ autofocus: true, type: :search, placeholder: "Type to search...", 'ng-model' => 'query' }

  .user-repos-show{ 'ng-show' => 'repos.length > 0' }
    %small Show 30 of {{ repos.length }} repositories

  .user-repos-list

    .ajax-loader{ 'ng-hide' => 'repos.length != undefined' }

    .user-repo{ 'ng-repeat' => "repo in repos | filter:query | limitTo: 30" }

      %a.octocat{ href: '{{repo.html_url}}/settings/hooks', title: "View on Github", "target" => "blank" }
        %i.fa.fa-wrench

      %label
        %input{ type: 'checkbox', 'ng-disabled' => 'repo.disabled', 'ng-model' => 'repo.subscribed', 'ng-change' => "changeSubscription(repo)"}
          %span {{repo.full_name}}
