.app-task-output {
  margin-top: 2em;
  font-family: 'Monaco', 'Consolas', monospace !important;
  font-size: 12px !important;
  line-height: 16px;
  color: #E5E1D3;
  background: #002b36;
  padding: 1em 0;
  word-wrap: break-word;
  counter-reset: line-numbers;
}

.app-task-output-line {
  white-space: pre-wrap;
  padding: .1em 1em .1em 5em;

  &:hover {
    background-color: #073642;
  }

  &.ansi {
    .green {
      color: #a8ff60;
    }

    .yellow {
      color: #ffffb6;
    }

    .red {
      color: #ff6c60;
    }
  }
}

.app-tack-output-line-number {
  text-decoration: none !important;
  color: #666 !important;

  &:before {
    content: counter(line-numbers);
    counter-increment: line-numbers;
    padding-right: 1.2em;
    min-width: 3em;
    margin-left: -3em;
    display: inline-block;
    text-align: right;
  }
}
