.app-task-output {
  margin-top: 2em;
  font-family: 'Monaco', 'Consolas', monospace !important;
  font-size: 12px !important;
  line-height: 16px;
  color: #ddd;
  background: #111;
  padding: 1em 0;
  word-wrap: break-word;

  counter-reset: line-numbers;

}

.app-task-output-line {
  white-space: pre-wrap;
  padding: .1em 1em .1em 6em;

  &:hover {
    background-color: #333;
  }
}

.app-tack-output-line-number {
  text-decoration: none !important;
  color: #666 !important;
  margin-left: -5em;

  &:before {
    content: counter(line-numbers);
    counter-increment: line-numbers;
    padding-right: 1em;
    text-align: right;
  }
}
