.app-task-output {
  margin-top: 2em;
  font-family: 'Monaco', 'Consolas', monospace !important;
  font-size: 12px !important;
  line-height: 16px;
  color: #E5E1D3;
  background: #002b36;
  padding: 1em 0;
  word-wrap: break-word;
  counter-reset: line-numbers;
}

.app-task-output-line {
  white-space: pre-wrap;
  padding: .1em 1em .1em 5em;

  &:hover {
    background-color: #073642;
  }

  span {
    .ansi-fg-green {
      color: #859900;
    }
    .ansi-fg-cyan {
      color: #2aa198;
    }
    .ansi-fg-magenta {
      color: #d33682;
    }
    .ansi-fg-yellow {
      color: #b58900;
    }
    .ansi-fg-orange {
      color: #cb4b16;
    }
    .ansi-fg-red {
      color: #dc322f;
    }
    .ansi-fg-violet {
      color: #6c71c4;
    }
    .ansi-fg-blue {
      color: #268bd2;
    }
  }
}

.app-tack-output-line-number {
  text-decoration: none !important;
  color: #666 !important;

  &:before {
    content: counter(line-numbers);
    counter-increment: line-numbers;
    padding-right: 1.2em;
    min-width: 3em;
    margin-left: -3em;
    display: inline-block;
    text-align: right;
  }
}
