@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.app-tasks-table {
  margin-top: 2em;
  font-size: 1em;
  font-size: 90%;

  th {
    font-weight: normal;
  }
  td {
    border-width: 0;
  }

  th:nth-child(1) {
    width: 8em;
  }
  th:nth-child(2) {
    width: 15em;
  }
  th:nth-child(4), th:nth-child(5) {
    width: 15em;
  }

  tr:first-child td {
    border-width: 1px;
  }
}

.app-tasks-table-item {

  i {
    font-size: .8em;
  }

  span {
    text-decoration: underline;
    display: inline-block;
    width: 2em;
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}

.app-task-errored {
  background-color: #fdfdfd;
  a {
    color: #666;
  }
  i {
    color: #666;
  }
}

.app-task-failed {
  background-color: snow;
  a {
    color: #c00;
  }
  i {
    color: #c00;
  }
}

.app-task-initialized, .app-task-queued, .app-task-started {
  background-color: #fffefa;

  a {
    color: #666;
  }
  i {
    color: Khaki;
  }
}

.app-task-started {
  i {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1s;
  }
}

.app-task-finished {
  background-color: #fafffa;

  a {
    color: #038035;
  }
  i {
    color: #038035;
  }
}

.app-task-success {
  background-color: #fafffa;

  &:hover {
    background-color: #efe;
  }

  a {
    color: #383;
  }
}

