/*
 *= require fonts
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

body, head, html {
  color: #555 !important;
}

body > .container {
  padding-bottom: 3em;
}

body > .container > .ng-view {
  margin-left: 4em;
}

.site-head {
  width: 100%;
  padding: 3em 0 1em 0;

  .site-title {
    position: absolute;
    width: 3em;
    height: 2.4em;
    background: #f9f9f9;
    border: 1px solid #34CCFF;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-left: -1em;

    span {
      display: block;
      width: 1em;
      margin: 0.6em auto 0 auto;
    }
  }

  .navigation {
    margin-left: 5em;
  }
}
