/*
 *= require_self
 *= require theme/style
 *= require theme/animate
 *= require style_override
 *= require task_output
 *= require projects
 *= require builds
 *= require user_repos
 *= require app_sidebar
 *= require ui_switch
 */

span.ajax-loader {
  content: url(asset-path("ajax-loader.gif"));
}

div.ajax-loader-b {
  content: url(asset-path("gif-load.gif"));
}

.task-message {
  white-space: pre;
}

.label-pointer {
  cursor: pointer;
}

