.build {
  .row {
  }

  .artifacts {
    margin-top: 2em;

    td {
      border-width: 0;
    }

    tr:first-child td {
      border-width: 1px;
    }
  }
}

.builds {
  .tasks-table {
    margin-top: 2em;
  }

  .build-info {
    margin-left: .5em;
  }

  .project-cached-files, .project-url, .project-pull-requests, .project-builds{
    margin-right: 1em;
    padding-right: 1em;
    border-right: 1px solid #ddd;
  }
}

