.github-repos {
  min-height: 40em;

  .github-repos-sync {
    a {
      position: relative;
    }

    a.disabled::after {
      content: url(asset-path("assets/ajax-loader.gif"));
      position: absolute;
      left: -3em;
    }
  }

  .github-repos-show {
    margin-top: 1em;
  }

  .github-repos-search {
    width: 30em;
    input {
      border: 1px solid #eee;
    }
  }

  .github-repos-list {
    margin-top: 1em;
  }

  .github-repo {
    border: 1px solid white;
    margin: .1em 0 .1em -4em;
    padding: .2em 0 .2em 4em;
    max-width: 40em;

    label {
      display: inline-block;
      font-weight: normal;
    }

    input[type=checkbox] {
      display: inline-block;
      margin-top: -0.1em;
      margin-right: .4em;
    }

    .octocat {
      display: none;
      margin-right: 0;
      color: #333;
      &:hover {
        text-decoration: none;
      }
    }

    &:hover {
      background-color: #fffefa;
      border: 1px solid #ddd;

      .octocat {
        display: block;
        position: absolute;
        margin-left: -2em;
        margin-top: .1em;
      }
    }
  }
}
