.job {

  .job-info {
    font-size: 90%;
  }

  .job-info-line {
    margin-bottom: .6em;

    span:first-child {
      display: inline-block;
      width: 6em;
    }

    a {
      color: #666;
      text-decoration: underline;
    }
  }

  .job-jobs {
    margin-top: 2em;

    .build-list {
      margin-top: 1em;
    }
  }
}
