.job {

  .job-info {
    font-size: 90%;
  }

  .job-info-line {
    margin-bottom: .6em;

    span:first-child {
      display: inline-block;
      width: 6em;
    }

    a {
      color: #666;
      text-decoration: underline;
    }
  }

  .job-jobs {
    margin-top: 2em;

    .build-list {
      margin-top: 1em;
    }
  }

  .job_logs {
    margin-top: 2em;
    font-family: 'Monaco', 'Consolas' !important;
    font-size: 12px !important;
    color: #ddd;
    background: #222;
    padding: 1em;
  }
}
