body.login {
  width: 100%;
  height: 100%;

  .signin {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
    text-align: center;

    a {
      &:hover {
        text-decoration: none;
      }
      i {
        font-size: 10em;
      }
    }
  }
}
