.projects-list {

  .project {
    position: relative;
  }

  .project-chart {
    position: absolute;
    top: 3em;
    right: 1em;
    left: 60%;
    bottom: 1px;
    -webkit-filter: grayscale(80%);

    rect {
      opacity: 0.6;
    }
  }

  .hr-line-dashed {
    margin: .2em 0 1em 0;
    border-style: solid;
  }
}
