.projects {
}

.project.panel {
  width: 26em;
  display: inline-block;
  margin-right: 1.4em;
  border-color: #eee;

  .panel-footer {
    border-top-color: #eee;
  }
}

.project-subscribe {
  margin-right: .5em;

  i.fa-star {
    color: DarkKhaki;
  }

  &:hover {
    border-bottom: 0;
  }
}
