.projects {
  .projects-list {
  }

  .project {
    padding-right: 12px;

    small {
      color: #999;
    }
  }
}

.project-subscribe {
  font-weight: normal;
  margin-right: 1em;
  cursor: pointer;
}
