@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.task-status-errored, .task-status-cancelled {
  background-color: #fbfbfb;
  a {
    color: #666;
  }
  i {
    color: #aaa;
  }
}

.task-status-failed {
  background-color: snow;
  a {
    color: #c00;
  }
  i {
    color: #BE4141;
  }
}

.task-status-unknown {
  background-color: white
  i {
    display: none
  }
}

.task-status-initialized, .task-status-queued, .task-status-started {
  background-color: #fffefa;

  a {
    color: #666;
  }
  i {
    color: Khaki;
  }
}

.task-status-started {
  i {
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1.2s;
  }
}

.task-status-passed {
  background-color: #fafffa;

  a {
    color: #038035;
  }
  i {
    color: #4FA06F;
  }
}

.task-status-success {
  background-color: #fafffa;

  &:hover {
    background-color: #efe;
  }

  a {
    color: #383;
  }
}

