.tasks-table {
  margin-top: 2em;

  th {
    font-weight: 500;
  }
  td {
    border-width: 0;
  }

  th:nth-child(1) {
    width: 8em;
  }

  tr:first-child td {
    border-width: 1px;
  }
}

.tasks-table-item {

  i {
    font-size: 12px;
  }

  span {
    text-decoration: underline;
    display: inline-block;
    width: 2em;
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}
