.tasks-table {
  margin-top: 2em;

  td {
    border-width: 0;

    img {
      display: inline-block;
      width: 18px;
      margin-right: 1em;
    }
  }

  th:nth-child(1) {
    width: 6em;
  }

  tr:first-child td {
    border-width: 1px;
  }
}

.tasks-table-item {

  span {
    text-decoration: underline;
    display: inline-block;
    width: 2em;
    text-align: center;
  }

  a {
    text-decoration: none;
  }
}
