.task-attributes {
  margin-left: -.6em;
  min-height: 8em;

  dt, dd {
    font-size: 13px;
  }

  dt {
    font-weight: normal;
    width: 6em;
    text-align: left;
  }

  dd {
    margin-left: 8em;
    background: transparent;
  }
}

.task-attribute-message {
  white-space: pre;
}

.task-attribute {
  margin-bottom: .6em;
  margin-top: 0;

  span:first-child {
    display: inline-block;
    width: 6em;
  }

  a {
    color: #666;
    text-decoration: underline;
  }

  img {
    width: 18px;
    border-radius: 2px;
  }
}
