.create-invite {
  margin-bottom: 1em;
}

form.invite {
  margin-bottom: 45px;

  button.close {
    margin-top: -5px;
    margin-right: 10px;
  }
}

.table.users {
  tr:first-child td {
    border-width: 1px;
  }
}
