= form_tag users_signup_path, role: "form" do
  .form-group
    %label.control-label{ for: "user_email" } Email
    = text_field_tag "email", @singup.email, placeholder: "me@example.com", class: "form-control", id: "user_email"

  .form-group
    %label.control-label{ for: "company_name" } Company
    = text_field_tag "company", @signup.company_name, placeholder: "Company Name", class: "form-control", id: "company_name"

  %hr

  .form-group
    = submit_tag "Continue Sing Up", class: "btn btn-sm btn-primary"
