.sign-in-providers

  - unless any_providers_enabled?
    .alert.alert-danger
      Cannout found any conguration for Github

  - if github_enabled?

    .sign-in-github-provider

      %a{ href: omniauth_authorize_url(:github, :sign_in) }

        = image_tag 'octokat.svg', alt: "Octokat", title: "Octokat"
        %span
          Sign in via Github
