%table.table.app-tasks-table

  %thead
    %th No.
    %th Duration
    %th Finished At
    %th{ 'ng-repeat' => "m in matrix" }
      {{m}}

  %tr.app-build-jobs-job.app-tasks-table-item{ 'ng-repeat' => "job in jobs | orderBy:'number'", 'class' => "app-task-{{job.status}}" }
    %td
      %a{ 'ng-href' => "/jobs/{{job.id}}" }
        %i.icon-circle
        %span {{ job.number }}

    %td.app-task-duration{ task: "job" }

    %td {{ job.finished_at | fromNow }}

    %td{ 'ng-repeat' => "m in job.matrix" }
      {{ m }}
