<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  <%= content_tag :script, :type => 'application/ld+json' do %>
    <%= yield :json_ld if content_for? :json_ld %>
  <% end %>
</head>
<body>
<%= yield %>
</body>